# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jfaduglaksfvrnmyswzx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_iqFVzr2EgC6G476Fi9VAzQ_MBUdOH05
SUPABASE_SERVICE_ROLE_KEY=

# AI providers
ANTHROPIC_API_KEY=
OPENAI_API_KEY=

# App
NEXT_PUBLIC_APP_NAME=Agente SDM Tools
NEXT_PUBLIC_APP_ENV=staging
